
body {
    margin:0;
    padding:0;
    background-color: black;
    background-image: url("../img/rayofondo.png");
    background-size: 5rem; 
    background-position-y: 9rem; 
    background-blend-mode:luminosity;

    .header {
        display: flex;
        align-items:center;
        justify-content:first baseline;
        flex-wrap: wrap;
        background-color: black;
        padding: 0rem 1rem;
        position:fixed;
        top: 0px;
        width: 100%;
       .logo {
         width: 20rem;
        margin-left: 2rem;
        a {
          text-decoration: none;
      
            h1 {
              color: #f7e549;
              width:10rem;
              display: inline-block;
            }  
            img {
              width: 3rem;
              margin-top: 1rem;
            }  
           }
       }
       h4 {
         color: grey;
         margin-left: 2rem;
       }
    
        input {
        margin-left: 2rem;
        height: 2rem;
        width: 13rem;
        padding-left: 0.5rem;
        font-size: 1.3rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        outline: none;
      
    }
  }
  
    #contenedor {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        .cajita {
          min-width: 40%;
          border-radius: 5px;
          padding: 1rem;
          margin: 2rem;
          background-color: #f7e549;
          img {
            width: 1.2rem;
          }
        }
    }
   


}