$amarillo: #f7e549;
$amarillo-transparente: #f7e649e1;
$body-fondo: #161616;
$header-fondo: #0a0a0a;
$violeta-logo: #78359F;
$rosa-logo: #F200D1;

* {
  margin: 0px;
  padding: 0px;
}
@mixin input {
  margin-left: 5rem;
  height: 2rem;
  width: 13rem;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
}
@mixin caja {
  background-color: $amarillo;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
  width: 85%;
}

@media screen and (min-width: 0px) {
 
    body {
      margin:0;
      padding:0;
      background-color: $body-fondo;
      background-image: url("../img/rayofondo.png");
      background-size: 5rem; 
      background-position-y: 9rem; 
      background-blend-mode:luminosity;
      font-family:Arial, Helvetica, sans-serif;
      &::-webkit-scrollbar{
        appearance: none;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $amarillo-transparente;
        &:hover {
          background-color: $amarillo;
        }
      }
      header {
          display: flex;
          align-items:center;
          justify-content:flex-start;
          flex-wrap: wrap;
          background-color: $header-fondo;
          padding-top: 1rem;
          position:fixed;
          top: 0px;
          width: 100%;
          right: 0px;
          z-index: 1;
          height: fit-content;
        .logo {
          a {
              img {
                width: 10rem;
                margin-left: 5rem;
              }  
            }
        }

        h4 {
          color: grey;
          margin-left: 2rem;
        }
      
          input {
          @include input;
          background-color: $header-fondo;
          color:  rgb(240, 240, 240);
        
          &:focus{
            border-bottom: solid 1px  $amarillo;
            transition: 0s;
          }
      }
      img {
        width: 1.5rem;
      }
    }

  

      .costado {
        width: 3rem;
        height: 100%;
        background-color: $header-fondo;
        position:fixed;
        top: 0rem;
        z-index: 2;
        img {
          width: 2rem;
          position: relative;
          top: 5rem;
          margin: 0.5rem;
        }
        .bar {
          img {
            width: 2rem;
            position: relative;
            top: 0.8rem;
          }
        }

      }
      .contenedorCarga {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      
      .carga {
       top: 10rem;
       position:fixed;
       width: 6rem;
       height: 6rem;
       border-radius: 50%;
       z-index: 1000;
    
       box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
       pointer-events: none;


       &::before{
         content: "";
         position:absolute;
         border-radius: inherit;
         width: 100%;
         height: 100%;
         background-image: linear-gradient(0deg, $rosa-logo 0%, $violeta-logo 100%);
         animation: spin .5s infinite linear;
       }
       &::after {
        content: "";
        position:absolute;
        border-radius: inherit;
        width: 85%;
        height: 85%;
        background-color: black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }


      #contenedor {
        position: relative;
        top: 9rem;
        margin-left: 3rem;
        height: min-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .seccion{
          display: flex;
          flex-direction: column;
          width: 100%;
          .cajaTitulo {
            @include caja;
            border-radius: 5px 5px 0 0;
            min-height: 3.5rem;
            margin-bottom: 0rem;
            border-bottom: $violeta-logo 1px solid;
            
            }
            .cajaTexto {
              padding: 0;
              
              p {
                @include caja;
                padding: 0.5rem;
              }
            }

            .cajaTriangulo {
              @include caja;
              border: 0px;
              margin-top: 0rem;
              border-radius: 0 0 5px 5px;
              background-color: $amarillo;
              
              .triangulo {
                width: 0; 
                height: 0; 
                border-left: 1rem solid #000000;
                border-top: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent; 
                transform: rotate(90deg);
                margin-left: 45%;
                pointer-events: none;
              }
            }
        
        }
      }

      .cuadrado {
        min-width: 40%;
        border-radius: 5px;
        padding: 1rem;
        background-color: $amarillo; 
        margin: 9rem 1rem 0rem 4rem;
        min-width: fit-content;
        max-width: fit-content;
        input {
          @include input;
          background-color: $amarillo;
          border-bottom: solid 1px $header-fondo;
          margin-left: 0rem;
          width: 10rem;
        }
        button {
          font-size: 1rem;
        }
      }
      .vacio {
        display: none;
      }
      .footer {
        background-color: $amarillo;
        width: 100%;
        position: relative;
        bottom: 0px;
      }
  
    }
    
  }
  

  @media screen and (min-width: 425px){

  }


 //INPUT 
@media screen and (min-width: 768px){
 body {
   .costado {
     img {
       top: 2rem;
     }
   }
   
   .cuadrado {
     margin-top: 6rem;
   }
   #contenedor {
     top: 5rem;
     .seccion {
       max-width: 22.5rem;
     }
   }
 }
}

